<div>
   <ul>
    <li><h3>Name:</h3><%=kitten.name%></li>
    <li><h3>Age:</h3><%=kitten.age%></li> <%if kitten.age%>
    <li><h3>Cuteness:</h3><%=kitten.cuteness%></li><%if kitten.cuteness%>
    <li><h3>Softness:</h3><%=kitten.softness%></li><%if kitten.softness%>
   </ul>
</div>