<h1>kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>
<%= link_to "Main Page", kittens_path%>


<%= render @kitten%>
<div>
    <%=link_to "Edit Kitten", edit_kitten_path(@kitten)%>
    <%= button_to "Delete Kitten", @kitten, method: :delete%>
</div>